* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

.ye {
	align-self: center;
}
h1 {
	font-size: 3rem;
	font-family: monospace;
}

button {
	font-family: monospace;
	margin-top: 1rem;
	padding: 5px 10px;
	font-size: 1.9rem;
	border-radius: 10px;
	background-color: white;
	font-weight: bold;
}
button:active {
	background-color: black;
	color: white;
}
